<div class="bar bar-header bar-calm">
    <a class="button button-icon icon ion-android-arrow-back" href="#/search/{{linkBank}}"></a>
    <h1 class="title">{{type}}</h1>
</div>
<ion-content class="has-header" padding="true">
    <div class="list" >

        <a class="item item-thumbnail-left" href="#/viewDetail/{{home.id}}" ng-repeat="home in Home | limitTo:numberOfItemsToDisplay">
          <img ng-src="{{home.path}}">
          <h2>{{home.address}}</h2>
          <p>ราคา : <span ng-bind="home.price | currency : ''" /></p>
        </a>

    </div>
    
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="addMoreItem()" distance="10%"></ion-infinite-scroll>
</ion-content>